.row {
  display: grid;
  grid-template-columns: 5% auto 30% 7%;

  .keyItem {
    text-align: start;
  }

  .rowValue {
    display: flex;
    justify-content: flex-start;
  }
}

.popupContainer {
  position: absolute;
  border: solid 1px rgba(0,0,0,0.24);
  border-radius: 6px;
  color: white;
  font-size: 12px;
  background: rgba(0,0,0,0.72);

  .popupContainerItem {
    padding: 7px;
    cursor: pointer;

    &:hover {
      background: rgba(0,0,0,0.14);
    }
  }
}
